---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'

const allPosts = (await getCollection('posts')).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
)
const nonDraftPosts = allPosts.filter(({ data }) => {
  return data.draft !== true
})
---

<BaseLayout pageTitle="Writing">
  <div>
    <ul class="list">
      {
        nonDraftPosts.map((post) => (
          <BlogPost
            url={'/posts/' + post.slug}
            title={post.data.title}
            pubDate={new Date(post.data.pubDate).toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
            tags={post.data.tags}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
