:root {
	--accent-color: #0058ff;
	--code-single-bg-color: #eeeeee;
	--code-block-border-color: #cccccc;
	--image-border-color: rgba(0, 0, 0, .1);
	--off-white-color: #f1f1f1;
	--mid-gray-color: #d9d9d9;
	--dark-bg-color: #1c2128;
	--dark-primary-text-color: var(--code-block-border-color);
	--dark-accent-color: #a5d6ff;
	--dark-secondary-text-color: #999999;
	--dark-code-single-bg-color: #21252c;
	--dark-code-highlight-color: #ffd46d;
	--dark-code-block-border-color: var(--dark-secondary-text-color);
	--dark-separator-color: #737373;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	line-height: 1.5;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 100ch;
	padding: 1rem;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2rem;
	padding-bottom: .25rem;
}

/* nav styles */

.hamburger {
	padding-right: 20px;
	cursor: pointer;
}

.hamburger .line {
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #ff9776;
}

.nav-links {
	width: 100%;
	top: 5rem;
	left: 48px;
	background-color: #ff9776;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links a:hover, a:focus {
	background-color: #ff9776;
}

.expanded {
	display: unset;
}

@media screen and (min-width: 636px) {
	.nav-links {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
		background: none;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}

	.hamburger {
		display: none;
	}
}

/* miscellaneous styles */

#container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.title {
	font-size: 2em;
	font-weight: 700;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	box-sizing: border-box;
	margin: .67em 0;
	line-height: 1.15;
}

/* dark styles */

.dark body {
	background-color: var(--dark-bg-color);
	color: var(--off-white-color);
}

.dark .title .nav-links a {
	color: var(--off-white-color);
}
