---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout>
	<div>
		<ul class="list">
			{allPosts.map((post) => 
				<BlogPost url={post.url} title={post.frontmatter.title} pubDate={new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				})}/>
			)}
		</ul>
	</div>
</BaseLayout>
