<footer>
	<!-- <a href="/blog/" title="Blog posts">writing</a>
	<a href="/tils/" title="'Today I Learned' posts">TILs</a>
	<a href="/about/" title="About me / CV">about</a> -->
	<img src="/favicon.svg">
</footer>
