---
---
<div>
	<ul class="list">
		<li class="element">
			<a href="/blog/" title="Blog posts">writing</a>
		</li>
		<li class="element">
			<a href="/tils/" title="'Today I Learned' posts">TILs</a>
		</li>
		<li class="element">
			<a href="/about/" title="About me / CV">about</a>
		</li>
		<li class="element">
			<a href="/snippets/" title="Snippets">snippets</a>
		</li>
		<li class="element">
			<a href="/tags/" title="Tags">tags</a>
		</li>
	</ul>
</div>
