---
---
<div>
	<ul class="list">
		<li class="element">
			<a href="/blog">writing</a>
		</li>
		<li class="element">
			<a href="/tils">TILs</a>
		</li>
		<li class="element">
			<a href="/about">about</a>
		</li>
	</ul>
</div>
