---
import Analytics from '../components/Analytics.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

export interface Props { pageTitle?: string; }

const name = "Üllar Maasik"
const { pageTitle } = Astro.props;
const title = pageTitle ? `${name} - ${pageTitle}` : name;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Analytics />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
