---
import Navigation from '../components/Navigation.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Üllar Seerme</title>
	</head>
	<body>
		<span id="container">
			<h1 class="title">Üllar Seerme</h1>
			<ThemeIcon />
		</span>
		<Navigation />
		<slot />
	</body>
</html>
