---
import Navigation from '../components/Navigation.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Üllar Seerme</title>
	</head>
	<body>
		<h1 class="title">Üllar Seerme<ThemeIcon /></h1>
		<Navigation />
		<slot />
	</body>
</html>
<style>
	.title {
		text-decoration-line: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 10px;
	}
</style>
