---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>{new Date(frontmatter.pubDate).toLocaleDateString('en-us', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
})}</p>

<slot />
</BaseLayout>
