---
import { getCollection } from "astro:content";
import BaseLayout from './BaseLayout.astro';
import Footer from '../components/Footer.astro';
const { post, prevPost, nextPost } = Astro.props;
---
<BaseLayout pageTitle={post.title}>
	<h2>{post.title}</h2>
	<p>{post.data.pubDate.toLocaleDateString('en-us', {
		year: 'numeric',
		month: 'long',
		day: 'numeric',
	})}</p>

	<slot />
</BaseLayout>
<Footer />
